// VARIABLES
$background-color-one: #F6F6F6;
$background-color-two: white;
$writing-color-one: #353535;
$icon-color-one: #7E7E7E;
$gradiant-color-one: #FF79DA;
$gradiant-color-two: #9356DC;

// MIXIN
@mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// GEN
* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: auto;
    max-width: 1440px;
    overflow-x: hidden;
    background: $background-color-one;
    @include flex-row-center;
}

section {
    padding: 50px 5px 50px 5px;
}

h1, h2 {
    margin: 0px;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

.btn {
    background:linear-gradient(180deg, $gradiant-color-one, $gradiant-color-two);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    padding: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 400ms 50ms;
    &:hover {
        filter:brightness(120%);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    }
}

.circle {
    background-color: $gradiant-color-two;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: white;
    font-weight: 400;
    @include flex-col-center;
}

a {
    text-decoration: none;
    color: inherit;
}

// HEADER
.header {
    @include flex-col-center;           
    width: 100%;
    background-color: $background-color-two;
    &__link {
        @include flex-row-center;
        & i {
            position: absolute;
            left: 10px;
            color: $writing-color-one;
        }
    }
    &__logo {
        object-fit: fit;
        height: 30px;
        padding: 10px;}
    &__nav {
    box-shadow: 0px 15px 10px -20px rgba(0, 0, 0, 0.2) inset, 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #EAEAEA;
    height: 50px;
    width: 100%;
    @include flex-row-center;
        nav {
            @include flex-row-center;
            gap: 10px;
        }
        &--icon {
            color: $writing-color-one;
        }
        &--searchbar {
            border:none;
            color: $writing-color-one;
            background-color: #EAEAEA;
            width: 130px;
            font-size: 16px;
            font-weight: 500;
        }    
      }    
}

@import 'partials/indexbody';

@import 'partials/restaurants';

// FOOTER

footer {
    background-color: $writing-color-one;
    color:white;
    padding: 20px;
    @include flex-col-center;
    .footerdiv {
        position: relative;
        right: 75px;
    }
    img {
        width: 100px;
        height: 20px;
        padding: 5px 5px 5px 0px;
    }
    p {
        margin: 5px 5px 5px 0px;
    }
    .footer__ip {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}